# Dependencies
# ===============================
node_modules


# Builds
# ===============================
dist
package-lock.json


# Tests
# ===============================
coverage
.vscode


# Environments
# ===============================
.env

# Logs
# ===============================
*.log
